body {
  background-image: url("../img/backg.png");
  background-size: cover;
  height: auto;
  background-repeat: no-repeat;
}

p {
  font-family: Courier;
}

nav {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: Courier;
  color: white;
  -webkit-text-stroke: 1px black;
  font-size: 50px;

}

.nav-links a {
  font-family: Courier;
  color: white;
  -webkit-text-stroke: 1px black;

}

@media screen and (min-width:400px) {
  .box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
  }
  .title{
    grid-row: 1;
    grid-column: 1 / 4;
    padding: 20px;
  }
  .nav {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    padding: 20px;
  }
  .content{
    grid-row: 2 / 4;
    grid-column: 2 / 4;
    padding: 20px;
  }
}

@media screen and (max-width:399px) {
  .box{
    width: 100%;
    height: auto;
  }
  .content{
    grid-row: 2 / 4;
    grid-column: 2 / 4;
    padding: 20px;
  }

}
