body {
  background-image: url("../img/backg.png");
  background-size: cover;
  height: auto;
  background-repeat: no-repeat;
}

ul {
  font-family: Courier;
}

h3 {
  font-family: Courier;
}

p {
  font-family: Courier;
}

nav {
  display: flex;
  justify-content: space-between;
}

.penguins {
  font-family: Courier;
}

h1 {
  font-family: Courier;
  color: white;
  -webkit-text-stroke: 1px black;
  font-size: 50px;

}



.nav-links a {
  font-family: Courier;
  color: white;
  -webkit-text-stroke: 1px black;

}

#imagery img {
  width: 200px;
  height: 200px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

@media screen and (min-width:400px) {
  .box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
  }
  .title{
    grid-row: 1;
    grid-column: 1 / 4;
    padding: 20px;
  }
  .nav {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    padding: 20px;
  }
  .content{
    grid-row: 2 / 4;
    grid-column: 2 / 4;
    padding: 20px;
  }
}

marquee img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

#gallery img{
   line-height: 1;
   -webkit-column-count:3;
   -webkit-column-gap:5px;
   -moz-column-count:2;
   -moz-column-gap:5px;
   column-count:2;
   column-gap:5px;
}

#gallery img {
   width: 100% !important;
   height: auto !important;
   margin-bottom:3px;
}

@media screen and (max-width:399px) {
  .box{
    width: 100%;
    height: auto;
  }
  .content{
    grid-row: 2 / 4;
    grid-column: 2 / 4;
    padding: 20px;
  }

}
